In [2]:
name = input("이름을 입력해주세요 :")
sc_1 = input("첫번째 점수를 입력해주세요 : ")
sc_2 = input("두번째 점수를 입력해주세요 : ")
sc_3 = input("세번째 점수를 입력해주세요 : ")

이름을 입력해주세요 :홍길동
첫번째 점수를 입력해주세요 : 80
두번째 점수를 입력해주세요 : 70
세번째 점수를 입력해주세요 : 60

In [3]:
print("저의 이름은 {} 이고 총 점수는 {} 입니다".format(name, (int(sc_1) + int(sc_2) + int(sc_3))))

저의 이름은 홍길동 이고 총 점수는 210 입니다

In [6]:
num = input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 20

In [10]:
result = list(range(2, int(num)+1, 2))

In [11]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
result.append(20)

In [13]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]

In [14]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
cell = input("연락처를 입력해주세요 : ")

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-3030-2203

In [15]:
con = dict(이름=name, 나이=age, 연락처=cell)

In [16]:
con

{'이름': '홍길동', '나이': '27', '연락처': '010-3030-2203'}

In [17]:
name1 = input("이름을 입력해주세요 : ")
age1 = input("나이를 입력해주세요 : ")
cell1 = input("연락처를 입력해주세요 : ")

이름을 입력해주세요 : 이몽룡
나이를 입력해주세요 : 30
연락처를 입력해주세요 : 010-2930-3002

In [18]:
con1 = dict(이름=name1, 나이=age1, 연락처=cell1)

In [19]:
con1

{'이름': '이몽룡', '나이': '30', '연락처': '010-2930-3002'}

In [20]:
cons =[]
cons.append({'이름': '홍길동', '나이': '27', '연락처': '010-3030-2203'})
cons

[{'이름': '홍길동', '나이': '27', '연락처': '010-3030-2203'}]

In [21]:
cons.append({'이름': '이몽룡', '나이': '30', '연락처': '010-2930-3002'})
cons

[{'이름': '홍길동', '나이': '27', '연락처': '010-3030-2203'},
 {'이름': '이몽룡', '나이': '30', '연락처': '010-2930-3002'}]

In [26]:
bill = int(input("첫번째 점수를 입력해주세요 : "))
bill2 = int(input("두번째 점수를 입력해주세요 : "))
bill3 = int(input("세번째 점수를 입력해주세요 : "))

if (0<=int(bill)<=100) and (0<=int(bill2)<=100) and (0<=int(bill3)<=100) :
    pass
print("잘못된 점수가 입력되었습니다.")
if (int(bill)>65 and int(bill2)>65 and int(bill3)>65) :
    print("합격")
else :
    print("불합격")

첫번째 점수를 입력해주세요 : 80
두번째 점수를 입력해주세요 : 90
세번째 점수를 입력해주세요 : 75
잘못된 점수가 입력되었습니다.
합격

In [27]:
fruit = ["사과", "오렌지"]
vegetable = ["당근", "호박"]

In [35]:
category = input("등록할 카테고리를 선택해주세요(과일,채소) : ")
dal = input("등록할 {}를 입력해주세요 : ".format(category))

등록할 카테고리를 선택해주세요(과일,채소) : 채소
등록할 채소를 입력해주세요 : 당근

In [37]:
if category in ["과일", "채소"] :
    if category == "과일" :
        if dal in fruit :
            print("이미 등록된 {} 입니다.".format(category))
        else :
            fruit.append(dal)
            print(fruit)
    else :
        if dal in vegetable :
            print("이미 등록된 {} 입니다.".format(category))
else :
    print("존재하지 않는 카테고리입니다.")

이미 등록된 채소 입니다.

In [38]:
x = [3,6,9,20,-7,5]

In [42]:
for i in range(len(x)) :
    x[i] *=10
x

[30, 60, 90, 200, -70, 50]

In [43]:
y = {"math" : 70, "science" : 80, "english" : 20}

In [44]:
for s in y :
    y[s] +=10
y

{'math': 80, 'science': 90, 'english': 30}

In [46]:
a = {"name" : "tom", "math" : 80, "english" : 70}

for i in a:
    print(i, end="")
    print(a[i])

nametom
math80
english70

In [55]:
dan = int(input("몇단을 출력하시겠습니까? "))

몇단을 출력하시겠습니까? 3

In [56]:
for i in range(1,9) :
    print("{} * {} = {}".format(dan, i, dan * i))

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24

In [57]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]

In [62]:
new_list = []
for word in words :
    if (len(word)>5) :
        new_list.append(word)
print(new_list)

['school', 'science', 'mountain']

In [64]:
for i in range(1,10) :
    for j in range(1,10) :
        print("{} * {} = {}".format(i,j,i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [65]:
for i in range(1,101) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [66]:
for i in range(1,101) :
    if i % 3 ==0 :
        print("3의 배수")
    elif i % 5 == 0 :
        print("5의 배수")
    elif i %3 ==0 and i % 5==0 :
        print("3과 5의 공배수")
    else :
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3의 배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3의 배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3의 배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3의 배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3의 배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3의 배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [67]:
i = -1
sum = 0

while i !=0 :
    i = int(input("값을 입력해주세요 : "))
    sum = sum + i
print("합계는 ? {}".format(sum))

값을 입력해주세요 : 30
값을 입력해주세요 : 20
값을 입력해주세요 : 50
값을 입력해주세요 : 40
값을 입력해주세요 : 30
값을 입력해주세요 : 0
합계는 ? 170

In [70]:
a = [32,45,2,5,76]

In [71]:
small = a[0]
for i in a :
    if i < small :
        small = i

In [72]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]

In [75]:
new_list = [i for i in words if (len(i)>5)]

In [76]:
new_list

['school', 'science', 'mountain']

In [77]:
wl = [len(e) for e in words]

In [78]:
wl

[6, 4, 5, 7, 5, 8]

In [83]:
a = [[10,20], [30,40], [50,60]]

In [84]:
b = [[2,3], [4,5], [6,7]]

In [86]:
C = []
for i in range(3) :
    temp = []
    
    for j in range(2) :
        print(a[i][j] * b[i][j])
        temp.append(a[i][j] * b[i][j])
    C.append(temp)
C

20
60
120
200
300
420

[[20, 60], [120, 200], [300, 420]]

In [90]:
a = []
for i in range(3) :
    temp = []
    for j in range(2) :
        temp.append(j+1 + i*2)
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

In [91]:
user = int(input("숫자를 입력하세요 : "))
cnt = 0
while True :
    print(cnt)
    cnt +=1
    
    if (cnt>user) :
        break

숫자를 입력하세요 : 20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [92]:
user = int(input("숫자를 입력하세요 : "))
for i in range(user+1) :
    if i % 2 == 1 :
        continue
    print(i)

숫자를 입력하세요 : 20
0
2
4
6
8
10
12
14
16
18
20