In [1]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
num = input("연락처를 입력해주세요 : ")

이름을 입력해주세요 : 홍길동
나이를 입력해주세요 : 27
연락처를 입력해주세요 : 010-3023-1223

In [6]:
score = dict(name = "홍길동", age = 27, num = "010-3023-1223")

In [7]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
num = input("연락처를 입력해주세요 : ")

이름을 입력해주세요 : 이몽룡
나이를 입력해주세요 : 30
연락처를 입력해주세요 : 010-3030-4434

In [8]:
score_1 = dict(name = "이몽룡", age = 30, num = "010-3030-4434")

In [9]:
score.keys()

dict_keys(['name', 'age', 'num'])

In [10]:
score.items()

dict_items([('name', '홍길동'), ('age', 27), ('num', '010-3023-1223')])

In [11]:
score

{'name': '홍길동', 'age': 27, 'num': '010-3023-1223'}

In [12]:
score_1

{'name': '이몽룡', 'age': 30, 'num': '010-3030-4434'}

In [18]:
scores = []

In [19]:
scores.append({'name': '홍길동', 'age': 27, 'num': '010-3023-1223'})

In [20]:
a = {1,2,3,4}

In [21]:
a.remove(1)

In [22]:
a

{2, 3, 4}

In [23]:
a.discard(2)

In [24]:
a

{3, 4}

In [25]:
a = {"1", "2", "3", "4"}

In [26]:
a.discard("5")

In [27]:
a

{'1', '2', '3', '4'}

In [28]:
if 2 in a :
    print("2가 a 안에 있습니다.")
    print("3이 a 안에 있습니다.")
    
print("5가 a 안에 있습니다.")

5가 a 안에 있습니다.

In [30]:
if 2 in a :
    print("2가 a 안에 있습니다.")
    print("3이 a 안에 있습니다.")

In [34]:
x = 30
if x>= 10 :
    if x<= 20 :
        print("x는 20보다 작습니다")
    if x<=30 :
            print("x는 30보다 작습니다")

x는 30보다 작습니다

In [35]:
first = input("첫번째 점수를 입력해주세요 : ")
second = input("두번째 점수를 입력해주세요 : ")
third = input("세번째 점수를 입력해주세요 : ")

첫번째 점수를 입력해주세요 : 120
두번째 점수를 입력해주세요 : 90
세번째 점수를 입력해주세요 : 80

In [38]:
x = 120
if x>100 :
    print("잘못된 점수가 입력되었습니다")

잘못된 점수가 입력되었습니다

In [39]:
x = input("첫번째 점수를 입력해주세요 : ")
y= input("두번째 점수를 입력해주세요 : ")
z= input("세번째 점수를 입력해주세요 : ")

첫번째 점수를 입력해주세요 : 80
두번째 점수를 입력해주세요 : 90
세번째 점수를 입력해주세요 : 75

In [42]:
x = 80; y = 90; z = 75
if x>=65 and y>=65 and z>=65 :
    print("합격")

합격

In [48]:
p = input("첫번째 점수를 입력해주세요 : ")
o= input("두번째 점수를 입력해주세요 : ")
i= input("세번째 점수를 입력해주세요 : ")

첫번째 점수를 입력해주세요 : 50
두번째 점수를 입력해주세요 : 60
세번째 점수를 입력해주세요 : 90

In [49]:
p = 50
if p<65 :
    print("불합격")

불합격

In [50]:
for i in range(10) :
    print(i, end="")

0123456789

In [51]:
for i in {"name" : "tom", "math" : 80, "english" : 70} : 
    print(i, end=" ")

name math english

In [53]:
for (k,v) in {"name" : "tom", "math" : 80, "english" : 70} : 
    print("key: {}, value : {}".format(k,v) )

ValueError: too many values to unpack (expected 2)

In [54]:
for i in range(5) :
    print("*" * 10, i)
    for j in range(5) :
        print("j : ", j)

********** 0
j :  0
j :  1
j :  2
j :  3
j :  4
********** 1
j :  0
j :  1
j :  2
j :  3
j :  4
********** 2
j :  0
j :  1
j :  2
j :  3
j :  4
********** 3
j :  0
j :  1
j :  2
j :  3
j :  4
********** 4
j :  0
j :  1
j :  2
j :  3
j :  4

In [55]:
for i in range(5) :
    print("*" * 10, i)
    for i in range(10,15) :
        print("i : ", i)

********** 0
i :  10
i :  11
i :  12
i :  13
i :  14
********** 1
i :  10
i :  11
i :  12
i :  13
i :  14
********** 2
i :  10
i :  11
i :  12
i :  13
i :  14
********** 3
i :  10
i :  11
i :  12
i :  13
i :  14
********** 4
i :  10
i :  11
i :  12
i :  13
i :  14

In [61]:
x = [3,6,9,20,-7,5]

In [62]:
x

[3, 6, 9, 20, -7, 5]

In [64]:
x * 10

[3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5,
 3,
 6,
 9,
 20,
 -7,
 5]

In [65]:
for i in x :
    print(i)

3
6
9
20
-7
5

In [67]:
for i in range(len(x)) :
    x[i] *= 10

In [68]:
fruit = ['사과', '오렌지']

In [69]:
vegetable = ['당근', '호박']

In [77]:
category = input("등록할 카테고리를 선택해주세요(과일, 채소) : ")

등록할 카테고리를 선택해주세요(과일, 채소) : 과일

In [78]:
item = input("등록할 {}를 입력해주세요 : ".format(category))

등록할 과일를 입력해주세요 : 바나나

In [79]:
if category in ["과일", "채소"] :
    if category == "과일" :
        if item in fruit :
            print("이미 등록된 {} 입니다.".format(category))
        else : 
                fruit.append(item)
                print(fruit)
    else : 
        if item in vegetable :
            print("이미 등록된 {} 입니다.".format(category))
        else :
                vegetable.append(item)
                print(vegetable)
                
else :
    print("존재하지 않는 카테고리입니다.")

['사과', '오렌지', '바나나']

In [90]:
score1 = int(input("첫번째 점수를 입력해주세요 : "))
score2 = int(input("두번째 점수를 입력해주세요 : "))
score3 = int(input("세번째 점수를 입력해주세요 : "))

첫번째 점수를 입력해주세요 : 50
두번째 점수를 입력해주세요 : 60
세번째 점수를 입력해주세요 : 90

In [91]:
if ((0 <= score1 <= 100) and (0 <= score2 <= 100) and (0 <= score3 <= 100)) :
    if(score1 > 65 and score2 > 65 and score3 > 65) :
        print("합격")
    else :
        print("불합격")
else :
    print("잘못된 점수가 입력되었습니다.")

불합격

In [92]:
x = [3,6,9,20,-7,5]

In [93]:
for idx in range(len(x)) :
    x[idx] *=10
x

[30, 60, 90, 200, -70, 50]

In [94]:
y = {"math" : 70, "science" : 80, "english" : 20}

In [95]:
for score in y : 
    y[score] = y[score] + 10

In [96]:
y

{'math': 80, 'science': 90, 'english': 30}

In [97]:
word = ["school", "game", "piano", "science", "hotel", "mountain"]