In [3]:
x = [3,6,9,20,-7,5]

In [2]:
for i in range(len(x)) :
    x[i] = x[i] *10
x

[30, 60, 90, 200, -70, 50]

In [4]:
for i in x :
    i = i*10
x

[3, 6, 9, 20, -7, 5]

In [5]:
y = [[3,6],9,29,-7,5]

In [7]:
for idx,elem in enumerate(y) :
    if i ==0 :
        elem = 7
y

[[3, 6], 9, 29, -7, 5]

In [8]:
c = []
for i in range(2,10) :
    for j in range(1,4) :
        print(i*j)
c

2
4
6
3
6
9
4
8
12
5
10
15
6
12
18
7
14
21
8
16
24
9
18
27

[]

In [9]:
c = [i*j for i in range(2,10) for j in range(1,4)]
c

[2,
 4,
 6,
 3,
 6,
 9,
 4,
 8,
 12,
 5,
 10,
 15,
 6,
 12,
 18,
 7,
 14,
 21,
 8,
 16,
 24,
 9,
 18,
 27]

In [10]:
list1 = [10,20,30,40,50]

for i in range(len(list1)-1,-1,-1) : 
    print(list1[i])

50
40
30
20
10

In [11]:
list1 = [10,20,30,40,50]

for i in range(len(list1),-1,-1) : 
    print(list1[i])

IndexError: list index out of range

In [12]:
def func(a,b,c) :
    print(a,b,c)
x = [1,2,3]
func(*x)

1 2 3

In [19]:
def func(*args) :
    for arg in args :
        print(arg)
func(1)
func(1,2,3,4,5)

1
1
2
3
4
5

In [21]:
def func(email,name) :
    print("이메일 : ", email)
    print("이름 : ", name)
func(email = "aa@aa.com", name = "tom")
x = {"email" : "aa@aa.com", "name" : "tom"}
func(**x)

이메일 :  aa@aa.com
이름 :  tom
이메일 :  aa@aa.com
이름 :  tom

In [28]:
def func(a, *args) :
    print(a, end = " ")
        
    for arg in args :
        print(arg, end=" ")
func(100,1,2,3,4,5)

100 1 2 3 4 5

In [29]:
def func(**kwargs) :
    print("이메일 : ", kwargs["email"])
    print("이름 : ", kwargs["name"])
    
func(email = "aa@aa.com", name="tom")

이메일 :  aa@aa.com
이름 :  tom

In [30]:
def func(email,name,age=20) :
    print("이메일 : ", email)
    print("이름 : ", name)
    print("나이 : ", age)
    
func(email = "aa@aa.com", name = "tom")
func(email = "aa@aa.com", name = "tom", age = "18")

이메일 :  aa@aa.com
이름 :  tom
나이 :  20
이메일 :  aa@aa.com
이름 :  tom
나이 :  18

In [33]:
def  add(num1,num2,num3,num4,num5) :
    return num1+num2+num3+num4+num5
print(i)

5

In [40]:
def calc(*numbers) :
    tot = 0
    for n in numbers :
        tot +=n
    return  tot
sum = calc(1,2,3,4,5)
print(sum)

15

In [43]:
def calc(*numbers) :
    total = 1
    for n in numbers :
        total *=n
    return total
multiple = calc(1,2,3,4,5)
print(multiple)

120

In [55]:
def calc(operator, *nums) :
    sum =0
    for num in nums :
        if operator == "+" :
            sum +=num
        elif operator =="*" :
            if sum ==0 :
                sum=1
            sum *=num
    return sum

result = calc("+",1,2,3,4,5)
print(result)
result  = calc("*",1,2,3,4,5)
print(result)

15
120

In [52]:
def calc(operator,num1,num2) :
    ret = 0
    if operator == "+" :
        ret = num1+num2
        
    elif operator == "-" :
        ret = num1-num2
        
    elif operator == "*" :
        ret = num1 * num2
        
    elif operator == "/" :
        ret = num1/num2
        
        
    return ret
result = calc("+",10,20)
print(result)
result = calc("-",10,20)
print(result)
result = calc("*",10,20)
print(result)
result = calc("/",10,20)
print(result)

30
-10
200
0.5

In [56]:
def test(end) :
    if end == 0 :
        return
    print("재귀함수!")
    end -=1
    test(end)

test(5)

재귀함수!
재귀함수!
재귀함수!
재귀함수!
재귀함수!

In [61]:
def factorial(n) :
    if n ==1 :
        return 1
    
    return n * factorial(n-1)
factorial(5)

120

In [66]:
def f_sum(n) :
    if n ==0 : 
        return 
    print(sum)
    f_sum = n + f_sum

   
f_sum(5)

15

UnboundLocalError: local variable 'f_sum' referenced before assignment

In [67]:
def f_sum(n) :
    if n == 0 :
        return 0
    return n + f_sum(n-1)
sum = f_sum(5)
print(sum)

15

In [73]:
def f_number(n) :
    if n == 0 :
        return
    
    f_number(int(n/10))
    print(n%10)

f_number(1234)

1
2
3
4

In [69]:
1234%10

4

In [70]:
123%10

3

In [71]:
12%10

2

In [72]:
1%10

1

In [75]:
def plus_ten(x) :
    return x+10
plus_ten(1)

11

In [76]:
lambda x : x+10
plus_ten = lambda x : x+10
plus_ten(1)

11

In [77]:
def f_number(n) :
    if n == 0 :
        return
    
    f_number(int(n/10))
    print(n%10)
    
f_number(1234)

1
2
3
4

In [78]:
a = [1,2,3,4,5,6,7,8,9,10]

In [79]:
def f(x) :
    if x % 2 == 0 :
        return 0
    else :
        return x
list(map(f,a))

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [80]:
(lambda x : x+10)(1)

11

In [81]:
a = [1,2,3,4,5]
list(map(lambda x : x+10 ,a))

[11, 12, 13, 14, 15]

In [82]:
a = [1,2,3,4,5]
tuple(map(lambda x : x+10 ,a))

(11, 12, 13, 14, 15)

In [83]:
score = {'이름' : '강다영', '수학' : 80, '과학' : 90, '영어' : 90}
score

{'이름': '강다영', '수학': 80, '과학': 90, '영어': 90}

In [85]:
keys = list(map(lambda x : x, score))
keys

['이름', '수학', '과학', '영어']

In [86]:
values = list(map(lambda x : score[x],score))
values

['강다영', 80, 90, 90]

In [87]:
score['이름'] = '홍경수'
score

{'이름': '홍경수', '수학': 80, '과학': 90, '영어': 90}

In [88]:
a = [1,2,3,4,5,6,7,8,9,10]

In [89]:
def f(x) :
    if x % 2==0 :
        return 0
    elif x %3 == 0 :
        return 1
    else :
        return 2

In [90]:
list(map(f,a))

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [91]:
a = [1,2,3,4,5,6,7,8,9,10]
list(map(lambda x : 0 if x%2==0 else 1 if x%3==0 else 2,a))

[2, 0, 1, 0, 2, 0, 2, 0, 1, 0]

In [92]:
a=[2,5,4,3,5,8,9,3,6]
list(filter(lambda x : x>2 and x<8,a))

[5, 4, 3, 5, 3, 6]

In [93]:
y = 20
(lambda x : x+y)(2)

22

In [94]:
a = [1,2,3,4,5,6,7,8,9,10]

In [95]:
def f(x) :
    if x % 2 ==0 :
        return 0
    else :
        return x

list(map(f,a))

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [96]:
def g(func,num) :
    return func(num)
print(g(f,10))

0

In [97]:
a= [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x : 0 if x % 2==0 else 0 if x %3 ==0 else 1,a))

# output [1,0,0,0,5,0,7,0,0,0]

[1, 0, 0, 0, 1, 0, 1, 0, 0, 0]

In [98]:
a = [1,2,3,4,5,6,7,8,9,10]

list(map(lambda x : 0 if x %2==0 or x%3==0 else x ,a))

[1, 0, 0, 0, 5, 0, 7, 0, 0, 0]

In [105]:
numbers = [12,32,55,12,32,4,86,50]
def f(x) :
    if int(x) > 60 :
        print("합격")
    elif 50<int(x)<60 :
        print("대기")
    else :
        print("불합격")
        
list(map(f,a))

불합격
불합격
불합격
불합격
불합격
불합격
불합격
불합격
불합격
불합격

[None, None, None, None, None, None, None, None, None, None]

In [108]:
numbers = [12,32,55,12,32,4,86,50]
list(map(lambda x : "합격" if x>60 else "대기" if 50<x<60 else "불합격",numbers))

['불합격', '불합격', '대기', '불합격', '불합격', '불합격', '합격', '불합격']