In [4]:
a=10

In [7]:
print("a : ",a)

a :  10

In [8]:
print("hello world")

hello world

# PYTHON
### python 연습
* print
* 연산
```print("hello world")```

In [13]:

"""
안녕하세요
월드입니다
"""
print("hello world") # hello world 출력

hello world

In [11]:
x=input("입력해주세요:")
x

입력해주세요:10

'10'

In [12]:
x=input("입력해주세요:")
print(x)

KeyboardInterrupt: Interrupted by user

입력해주세요:1

In [14]:
print(1+2)

3

In [15]:
1-2

-1

In [16]:
5*3

15

In [17]:
5/2

2.5

In [18]:
5//2

2

In [19]:
5%2

1

In [20]:
2**3

8

In [21]:
2+3*2

8

In [22]:
(2+3)*2

10

In [26]:
int(10.7)

10

In [27]:
float(10)

10.0

In [28]:
float("hello world")

ValueError: could not convert string to float: 'hello world'

In [29]:
int(5/2)

2

In [30]:
2**32

4294967296

In [31]:
2**64

18446744073709551616

In [33]:
x = 20

In [34]:
y = 30

In [35]:
x + y

50

In [36]:
x = 10

In [38]:
x = x + 10
x

30

In [39]:
x

30

In [40]:
x = None

In [42]:
print(x)

None

In [43]:
type(x)

NoneType

In [44]:
x = 20

In [45]:
y = 30

In [46]:
x + y

50

In [47]:
x * Y

NameError: name 'Y' is not defined

In [48]:
x * y

600

In [49]:
x = input("x 값을 입력해 주세요")
y = input("y 값을 입력해 주세요")

x 값을 입력해 주세요20
y 값을 입력해 주세요30

In [52]:
x + y

'2030'

In [51]:
y

'30'

In [53]:
int(x) + int(y)

50

In [54]:
print(20>65) and print(70>65) and print(80>65)

False

In [55]:
print(70>65) and print (80>65) and print(90>65)

True

In [56]:
5>10 and 20==20

False

In [57]:
20>65 and 70>65 and 80>65

False

In [58]:
70>65 and 80>65 and 90>65

True

In [59]:
x = input("첫번째 점수 : ")
y = input("두번째 점수 : ")
z = input("세번째 점수 : ")

첫번째 점수 : 20
두번째 점수 : 70
세번째 점수 : 80

In [61]:
print(x)
print(y)
print(z)

20
70
80

In [63]:
bool(x)

True

In [64]:
print(int(x) > 65 and int(y) > 65 and int(z) >65)

False

In [65]:
a = input("첫번째 점수 : ")
b = input("두번째 점수 : ")
c = input("세번째 점수 : ")

첫번째 점수 : 70
두번째 점수 : 80
세번째 점수 : 90

In [66]:
print(int(a) > 65 and int(b) > 65 and int(c) >65)

True

In [67]:
word = "apple banana"

In [68]:
word

'apple banana'

In [69]:
len(word)

12

In [70]:
word.upper()

'APPLE BANANA'

In [71]:
word.lower()

'apple banana'

In [72]:
word = word.upper()
word

'APPLE BANANA'

In [81]:
word = word.replace('APPLE','ORANGE')

In [82]:
word

'ORANGE BANANA'

In [83]:
name = "다영"

In [85]:
print("I am " + name + "!")

I am 다영!

In [86]:
print("I am %s!" % name)

I am 다영!

In [87]:
print("I am%-10s!" % name)

I am다영        !

In [88]:
f1, f2 = 'apple', 'banana'

In [89]:
print("I like %s, %s" % (f1, f2))

I like apple, banana

In [90]:
n1, n2 = 3, 3.2323

In [91]:
print("n1 = %d, n2 = %f" %(n1, n2))

n1 = 3, n2 = 3.232300

In [92]:
print("n1 = %d, n2 = %.2f" %(n1, n2))

n1 = 3, n2 = 3.23

In [95]:
p = input("아무 문자나 입력해주세요 : ")

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다.

In [100]:
name = "홍길동"

In [97]:
e = input("첫번째 점수를 입력해 주세요 : ")

첫번째 점수를 입력해 주세요 : 80

In [98]:
g = input("두번째 점수를 입력해 주세요 : ")

두번째 점수를 입력해 주세요 : 70

In [99]:
h = input("세번째 점수를 입력해 주세요 : ")

세번째 점수를 입력해 주세요 : 60

In [101]:
print("저의 이름은 " + name + " 이고 ")

저의 이름은 홍길동 이고

In [104]:
print("저의 이름은 " + name + " 이고 " + "총점은 " + (e+h+g))

저의 이름은 홍길동 이고 총점은 806070

In [105]:
input_str = input("아무 문자나 입력해주세요 : ")

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다

In [107]:
input_str.replace(" ","")

'안녕하세요반갑습니다'

In [108]:
name = input("이름을 입력해 주세요 : ")
score_1 = input("첫번째 점수를 입력해 주세요 : ")
score_2 = input("두번째 점수를 입력해 주세요 : ")
score_3 = input("세번째 점수를 입력해 주세요 : ")

이름을 입력해 주세요 : 홍길동
첫번째 점수를 입력해 주세요 : 80
두번째 점수를 입력해 주세요 : 70
세번째 점수를 입력해 주세요 : 60

In [109]:
print("저의 이름은 {} 이고 총점은 {} 입니다".format(name,(int(score_1) + int(score_2)+ int(score_3))))

저의 이름은 홍길동 이고 총점은 210 입니다

In [110]:
score = 1000
print(str(score))

1000

In [111]:
print("저의 이름은 "+name+" 이고 총점은 "+str(score)+"입니다")

저의 이름은 홍길동 이고 총점은 1000입니다

### 리스트와 튜플

In [112]:
a = [1,2,3,4,5,6,7]

In [113]:
a = list(range(1,7))
a

[1, 2, 3, 4, 5, 6]

In [115]:
type(range(1,7))

range

In [116]:
b = [1,2,3,4,5,6,7,]

In [117]:
b = tuple(range(1,7))
b

(1, 2, 3, 4, 5, 6)

In [118]:
list(range(-8,8,3))

[-8, -5, -2, 1, 4, 7]

In [120]:
a = list(range(10,0,-2))
a

[10, 8, 6, 4, 2]

In [121]:
a[2]

6

In [122]:
a[-2]

4

In [123]:
a[1:3]

[8, 6]

In [124]:
a[1:-3]

[8]

In [125]:
a[1:-1:2]

[8, 4]

In [126]:
a

[10, 8, 6, 4, 2]

In [127]:
a[:3]

[10, 8, 6]

In [128]:
a[2:]

[6, 4, 2]

In [129]:
a[1:3] = ["one", "two"]

In [130]:
a

[10, 'one', 'two', 4, 2]

In [131]:
del a[1]

In [132]:
a

[10, 'two', 4, 2]

In [133]:
del a[1:3]

In [134]:
a

[10, 2]

In [135]:
a = list(range(10))

In [136]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [137]:
a[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [138]:
1 in a

True

In [139]:
12 in A

NameError: name 'A' is not defined

In [140]:
12 in a

False

In [141]:
b = [10,11,12]

In [142]:
a + b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [143]:
len(a)

10

In [144]:
len(b)

3

In [155]:
a= list(range(10))

In [156]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
a.append(10)

In [158]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [159]:
a.append([11,12])

In [160]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, [11, 12]]

In [162]:
a.pop(10)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [163]:
a.pop()
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [164]:
a.insert(5,10)
a

[0, 1, 2, 3, 4, 10, 5, 6, 7, 8]

In [167]:
a =list(range(10))

In [168]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
a = list(range(2,12,2))

In [172]:
a

[2, 4, 6, 8, 10]

In [173]:
a.append(10)

In [174]:
a

[2, 4, 6, 8, 10, 10]

In [176]:
a = input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 10

In [177]:
a = list(range(2,22,2))

In [178]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [179]:
a.append(20)

In [180]:
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]

In [181]:
a = list(range(2,12,2))
b = input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 10

In [182]:
a

[2, 4, 6, 8, 10]

In [184]:
num = input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 10

In [191]:
result = list(range(2, int(num)+1, 2))

In [193]:
result.append(int(num))

In [194]:
result

[2, 4, 6, 8, 10, 10, 10]

In [1]:
x = input("입력해주세요 : ")

입력해주세요 : x

In [2]:
print(x)

x

In [3]:
x = input("입력해주세요 : ")

입력해주세요 : x

In [4]:
y = input("입력해주세요 : ")

입력해주세요 : 30

In [5]:
x = input("입력해주세요 : ")

입력해주세요 : 20

In [6]:
x + y

'2030'

In [7]:
int(x) + int(y)

50

In [8]:
input_str = input("아무 문자나 입력해주세요 : ")

아무 문자나 입력해주세요 : 안녕하세요 반갑습니다.

In [9]:
input_str.replace(" ", "")

'안녕하세요반갑습니다.'

In [10]:
name = input("이름을 입력해 주세요 : ")

이름을 입력해 주세요 : 홍길동

In [12]:
name = input("이름을 입력해 주세요 : ")
score_1 = input("첫번째 점수를 입력해 주세요 : ")
score_2 = input("두번째 점수를 입력해 주세요 : ")
score_3 = input("세번째 점수를 입력해 주세요 : ")

이름을 입력해 주세요 : 홍기동
첫번째 점수를 입력해 주세요 : 80
두번째 점수를 입력해 주세요 : 70
세번째 점수를 입력해 주세요 : 50

In [18]:
print("저의 이름은 {} 이고 총점은 {} 입니다.".format(name,(int(score_1) + int(score_2) + int(score_3))))

저의 이름은 홍기동 이고 총점은 200 입니다.

In [19]:
q = input("첫번째 점수 : ")

첫번째 점수 : 20

In [20]:
w = input("두번째 점수 : ")
e = input("세번째 점수 : ")

두번째 점수 : 70
첫번째 점수 : 80

In [23]:
print(int(q)>65 and int(w)>65 and int(e)>65)

False

In [24]:
p = input("첫번째 점수 :")
o = input("두번째 점수 :")
u = input("세번째 점수 :")

첫번째 점수 :70
두번째 점수 :80
세번째 점수 :90

In [25]:
print(int(p)>65 and int(o)>65 and int(u)>65)

True

In [26]:
num = input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 10

In [27]:
result = list(range(2, int(num)+1, 2))

In [28]:
result

[2, 4, 6, 8, 10]

In [29]:
result.append(int(num))

In [30]:
result

[2, 4, 6, 8, 10, 10]

In [31]:
result.append(10)

In [32]:
result

[2, 4, 6, 8, 10, 10, 10]

In [33]:
num = input("숫자를 입력해주세요 : ")

숫자를 입력해주세요 : 20

In [34]:
result = list(range(2, int(num) +1, 2))

In [35]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [36]:
result.append(20)

In [37]:
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 20]