# 11장 for 반복문 실습

In [1]:
x = [3,6,9,20,-7,5]
for i in range(len(x)) : 
    x[i] *=10
    print(x[i])

30
60
90
200
-70
50

In [2]:
y = {"math" : 70, "science" : 80, "english" : 20}

In [3]:
for e in y :
    y[e] = y[e] + 10
    
y

{'math': 80, 'science': 90, 'english': 30}

In [4]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]

In [5]:
new_list = []
for word in words :
    if(len(word)>5) :
        new_list.append(word)

        
print(new_list)

['school', 'science', 'mountain']

In [6]:
for i in range(1,10) :
    for j in range(1,10) : 
        print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [7]:
for i in range(1,10) :
    for j in range(1,10) : 
        print("{} * {} = {}".format(i,j,i*j))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [8]:
for i in range(1,101) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
for i in range(1,101) :
    if i % 3 == 0 and i % 5 == 0:
        print("3과 5의 배수")
    elif i % 3 == 0 :
        print("3의 배수")
    elif i % 5 == 0 :
        print("5의 배수")
    else :
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [10]:
x = [3,6,9,20,-7,5]

In [11]:
for i in range(len(x)-1) :
    for j in range(len(x) -i-1) :
        
        if x[j] > x[j + 1] : 
            temp = x[j+1]
            x[j+1] = x[j]
            x[j] = temp
print(x)

[-7, 3, 5, 6, 9, 20]

In [12]:
x=[3,6,9,20,-7,19]
y=x.copy()
for i in x:
    c=0
    for j in x:
        if i>j:
            c=c+1
    y[c]=i
x=y
print(x)

[-7, 3, 6, 9, 19, 20]

# 12장 while 반복문 실습

In [13]:
score = -1
score_sum = 0

while score !=0 :
    score = int(input("값을 입력해주세요 : "))
    score_sum = score_sum + score
print("합계는 {}?".format(score_sum))

값을 입력해주세요 : 30
값을 입력해주세요 : 20
값을 입력해주세요 : 50
값을 입력해주세요 : 40
값을 입력해주세요 : 30
값을 입력해주세요 : 0
합계는 170?

In [14]:
import random

In [15]:
random.randint(1,3)

2

In [16]:
game_dict = {1 : "가위", 2:"바위", 3:"보"}
total = 0
win = 0
user = 1
computer = -1

In [17]:
while user == 1 or user ==2 or user == 3:
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 : "))
    computer = random.randint(1,3)
    
    if user == 1 and computer ==3 :
        win +=1
    elif user == 2 and computer ==1 :
        win +=1
    elif user ==3 and computer ==2 :
        win +=1
        total +=1
        print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
    elif user in [1,2,3] :
        total +=1
        print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
        
print(f"게임종료 (전체:{total}, 승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
가위(1), 바위(2), 보(3) 을 입력해주세요 : 4
게임종료 (전체:1, 승리:3)

In [18]:
game_dict = {1 : "가위", 2:"바위", 3:"보"}
total = 0
win = 0
user = 1
computer = -1

In [19]:
while user in [1,2,3] :
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 : "))
    computer = random.randint(1,3)
    
    if user not in [1,2,3] :
        break
    total +=1
    print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
    
    if (user==1 and computer==3) or (user==2 and computer==1) or (user==3 and computer==1) :
        win +=1
        
print(f"게임종료 (전체:{total}, 승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 보, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
유저 : 바위, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
유저 : 가위, 컴퓨터 : 바위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 4
게임종료 (전체:3, 승리:1)

# 15장 break, continue 실습

In [20]:
user = int(input("숫자를 입력하세요 : "))
cnt = 0
while True : 
    print(cnt)
    cnt +=1
    
    if(cnt > user) : 
        break

숫자를 입력하세요 : 20
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [21]:
user = int(input("숫자를 입력하세요:"))
for i in range(user+1):
    
    if i % 2 == 1:
        continue
    print(i)
    i += 1

숫자를 입력하세요:20
0
2
4
6
8
10
12
14
16
18
20

# 13장 리스트 응용 실습

In [22]:
words = ["school", "game", "piano", "science", "hotel", "mountain"]

In [23]:
u_list = [i for i in words if(len(i)>5)]
u_list

['school', 'science', 'mountain']

In [24]:
word_len = [len(e) for e in words  ]
word_len

[6, 4, 5, 7, 5, 8]

In [25]:
a=[[10,20],[30,40],[50,60]]

In [26]:
b=[[2,3],[4,5],[6,7]]

In [27]:
C = []
for i in range(3) :
    temp = []
    
    for j in range(2) :
        print(a[i][j]*b[i][j])
        temp.append(a[i][j]*b[i][j])    
    C.append(temp)
C

20
60
120
200
300
420

[[20, 60], [120, 200], [300, 420]]

In [28]:
a=[[10,20],[30,40],[50,60]]
b=[[2,3],[4,5],[6,7]]

In [31]:
C = []
for i in range(len(a)) :
    temp = []
    for j in range(len(a[i])) : 
        temp.append(a[i][j]*b[i][j])
    C.append(temp)
C

[[20, 60], [120, 200], [300, 420]]

In [35]:
a = []
for i in range(3) :
    temp = []
    for j in range(2) :
        temp.append(j+1 + 2*i)
    a.append(temp)
print(a)

[[1, 2], [3, 4], [5, 6]]

# 16장 파일 입출력 실습

In [36]:
import random

In [37]:
random.randint(1,3)

2

In [42]:
game_dict = {1 : "가위", 2:"바위", 3:"보"}
total = 0
win = 0
user = 1
computer = -1

In [47]:
while user in [1,2,3] :
    user = int(input("가위(1), 바위(2), 보(3) 을 입력해주세요 : "))
    computer = random.randint(1,3)
    
    if user not in [1,2,3] :
        break
    total +=1
    print(f"유저 : {game_dict[user]}, 컴퓨터 : {game_dict[computer]}")
    
    if (user==1 and computer==3) or (user==2 and computer==1) or (user==3 and computer==1) :
        win +=1
        
print(f"게임종료 (전체:{total}, 승리:{win})")

가위(1), 바위(2), 보(3) 을 입력해주세요 : 3
유저 : 보, 컴퓨터 : 가위
가위(1), 바위(2), 보(3) 을 입력해주세요 : 2
유저 : 바위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 : 1
유저 : 가위, 컴퓨터 : 보
가위(1), 바위(2), 보(3) 을 입력해주세요 : 4
게임종료 (전체:3, 승리:2)

In [48]:
import pickle
with open("game_save.pkl", "wb") as file:
    pickle.dump(total,file)
    pickle.dump(win, file)

In [49]:
total = 0
win = 0

with open("game_save.pkl", "rb") as file :
    total = pickle.load(file)
    win = pickle.load(file)
print(total, win)

3 2

# 17장 함수

In [51]:
def gugu(a,b) :
    return a*b

In [52]:
print(gugu(5,4))

20

In [53]:
def func(num_1, num_2) :
    return 2*num_1, 3*num_2

In [54]:
print(func(1,2))

(2, 6)

In [58]:
a = 5

def func1( ) : 
    a=1
    print(a)
    
func1()
print(a)

1
5

In [60]:
def func2() :
    print(a)
    
func2()

5

In [68]:
lis = [1,2,3,1,4,2,1]

In [71]:
def allindex(my_list, elem) :
    temp_list = []
    for i, e in enumerate(my_list) :
        if e == elem :
            temp_list.append(i)
            
    return temp_list

In [72]:
allindex(lis,1)

[0, 3, 6]

In [73]:
lis2 = [1,2,3,4,6,5,3,4,3]
allindex(lis2,3)

[2, 6, 8]

# 16장 파일.입출력 실습02

## 성적프로그램

In [1]:
def display_all() : 
    for i, user in enumerate(scores) :
        print(f"[{i}] 이름 : {user['이름']}, 수학 : {user['수학']}, 과학 : {user['과학']}, 영어 : {user['영어']}")

In [2]:
import pickle
menu = 1

scores = []


while menu !=0 :
    menu = int(input("메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : "))
    if menu == 1 :
        name = input("이름 ")
        math = int(input("수학 "))      
        science = int(input("과학 "))
        english = int(input("영어 "))
        
        student = {"이름" : name, "수학": math, "과학" : science, "영어" : english}
        scores.append(student)
        
    elif menu == 2 :
        display_all()
        
    elif menu == 3 :
        display_all()
        
        del_index = int(input("삭제할 번호를 입력해주세요 : "))
        scores.pop(del_index)
        print("삭제가 완료되었습니다.")
    
    elif menu == 0 :
        with open("scores.pkl", "wb") as file :
            pickle.dump(scores, file)
            print("종료되었습니다")
            
        break
scores

메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : 1
이름 강다영
수학 90
과학 80
영어 70
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : 2
[0] 이름 : 강다영, 수학 : 90, 과학 : 80, 영어 : 70
메뉴를 선택해주세요 1 - 입력, 2 - 조회, 3 - 삭제, 0 - 종료 : 0
종료되었습니다

[{'이름': '강다영', '수학': 90, '과학': 80, '영어': 70}]