In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('price_data2.csv')

In [4]:
data=data.dropna(how='any')

In [5]:
data = data.drop(['year'],axis=1)

In [6]:
data

      avgTemp  minTemp  maxTemp  rainFall     avgPrice
0        -4.9    -11.0      0.9       0.0  2808.517931
3        -1.8     -5.1      2.2       5.9  2672.259172
4        -5.2     -8.7     -1.8       0.7  2725.175195
5        -7.3    -11.4     -2.5       0.3  2725.175195
6        -6.7    -11.2     -1.2       0.0  2831.007241
...       ...      ...      ...       ...          ...
4024    -10.3    -14.3     -3.6       1.1  2976.000000
4025    -11.9    -16.3     -7.1       0.0  2982.000000
4028     -5.1     -9.2     -1.1       0.0  3019.000000
4029     -2.5     -8.9      3.1       0.4  3019.000000
4030      3.2     -4.0     10.1       0.0  3000.000000

[2832 rows x 5 columns]

In [7]:
x = data.drop(['avgPrice'],axis=1)
x

      avgTemp  minTemp  maxTemp  rainFall
0        -4.9    -11.0      0.9       0.0
3        -1.8     -5.1      2.2       5.9
4        -5.2     -8.7     -1.8       0.7
5        -7.3    -11.4     -2.5       0.3
6        -6.7    -11.2     -1.2       0.0
...       ...      ...      ...       ...
4024    -10.3    -14.3     -3.6       1.1
4025    -11.9    -16.3     -7.1       0.0
4028     -5.1     -9.2     -1.1       0.0
4029     -2.5     -8.9      3.1       0.4
4030      3.2     -4.0     10.1       0.0

[2832 rows x 4 columns]

In [8]:
y = data['avgPrice']

In [9]:
y

0       2808.517931
3       2672.259172
4       2725.175195
5       2725.175195
6       2831.007241
           ...
4024    2976.000000
4025    2982.000000
4028    3019.000000
4029    3019.000000
4030    3000.000000
Name: avgPrice, Length: 2832, dtype: float64

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [11]:
veg = LinearRegression(fit_intercept=True)

In [12]:
veg.fit(x,y)

LinearRegression()

In [24]:
avg_temp = float(input("평균기온 : "))
min_temp = float(input("최저기온 : "))
max_temp = float(input("최고기온 : "))
rain_fall= float(input("강수량 : "))

평균기온 : -6.7
최저기온 : -11.2
최고기온 : -1.2
강수량 : 0

In [25]:
X = np.array([[avg_temp,min_temp,max_temp,rain_fall]])

In [26]:
y_pred = veg.predict(X)
y_pred

array([3407.03707095])

In [ ]:
#Lasso로 하면 더 정확함