1. 람다로 2개의 리스트의 값을 더 하여 리스트로 출력하기
- 입력:list1=[1,2,3,4,5]
        -list2=[6,7,8,9,10]
- 출력:[7,9,11,13,15]

In [11]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

In [12]:
a=lambda list1,list2 : list1+list2

In [14]:
result = list(map(a,list1,list2)) 
result

[7, 9, 11, 13, 15]

2. 람다를 사용하여 각 2번째 숫자를 문자로 바꾸기(if 사용)
- 입력:a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
- 출력:answer=[1,'2',3,'4',5,'6',7,'8',9,'10']

In [58]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [40]:
a = list(map(str,a))
a

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [60]:
t = []
for num in range(len(a)) :
    b = a[num]
    if b % 2==0:
        t.append(str(b))
        print(t)
    else :
        t.append(b)

[1, '2']
[1, '2', 3, '4']
[1, '2', 3, '4', 5, '6']
[1, '2', 3, '4', 5, '6', 7, '8']
[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']
[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

In [61]:
print(t)

[1, '2', 3, '4', 5, '6', 7, '8', 9, '10']

3.딕셔너리에서 key 값, value 값 가져오기
- 입력:data =dict()
- data['사과'] = 'Apple'
- data['바나나'] = 'Banana'
- data['코코넛'] = 'Coconut'
- 출력:
- 키는 : ['사과','바나나','코코넛']
- 값은 : ['Apple','Banana','Coconut']

In [15]:
data =dict()

In [17]:
data['사과'] = 'Apple'
data['바나나'] = 'Banana'
data['코코넛'] = 'Coconut'

In [18]:
data

{'사과': 'Apple', '바나나': 'Banana', '코코넛': 'Coconut'}

In [19]:
data.keys()

dict_keys(['사과', '바나나', '코코넛'])

In [20]:
data.values()

dict_values(['Apple', 'Banana', 'Coconut'])

In [22]:
c = lambda data: data.keys()
c

<function <lambda> at 0x000001B7CF5C94C0>

4. '1e9'의 뜻을 알아보고 앞뒤 숫자 바꾸기

In [23]:
# 1e9: e의 의미는 (10의 제곱을 곱한...) 
2e10

20000000000.0

In [24]:
1e7

10000000.0