In [1]:
a=[1,2,3,4,5]

In [2]:
a.append(6)

In [3]:
a

[1, 2, 3, 4, 5, 6]

In [11]:
num = int(input("숫자를 입력해 주세요 : "))
new = []
for i in range(num):
    if i %2 ==0:
        print(i)
    else :
        pass
new.append(i)

숫자를 입력해 주세요 : 10
0
2
4
6
8

In [12]:
# num = input("숫자를 입력해주세요 :")
# result = list(range(2,int(num)+1, 2))
# result.append(int(num))

In [16]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
phone = input("연락처 입력해주세요 : ")
di= dict(이름=name,나이=age,번호=phone)

이름을 입력해주세요 : 강다영
나이를 입력해주세요 : 27
연락처 입력해주세요 : 01032740610

In [20]:
name = input("이름을 입력해주세요 : ")
age = input("나이를 입력해주세요 : ")
phone = input("연락처 입력해주세요 : ")
di2= dict(이름=name,나이=age,번호=phone)

이름을 입력해주세요 : 강다
나이를 입력해주세요 : 23
연락처 입력해주세요 : 2349494949494

In [17]:
di

{'이름': '강다영', '나이': '27', '번호': '01032740610'}

In [18]:
new_list = []
new_list.append(di)

In [21]:
new_list.append(di2)

In [22]:
new_list

[{'이름': '강다영', '나이': '27', '번호': '01032740610'},
 {'이름': '강다', '나이': '23', '번호': '2349494949494'}]

In [23]:
fruit = ['사과','오렌지']
vegetable = ['당근','호박']

In [29]:
cate = input("등록할 카테고리를 선택해주세요(과일,채소) : ")
chche = input("등록할 {}를 입력해주세요 : ".format(cate))
if cate in ['과일','채소']:
    
    if chche in vegetable:
        print("이미 등록된 {}입니다.".format(cate))
    else : 
        vegetable.append(chche)
        print(vegetable)
    if chche in fruit:
        print("이미 등록된 {}입니다.".format(cate))
    else : 
        fruit.append(chche)
        print(fruit)
else :
    print("존재하지 않는 카테고리입니다.")

등록할 카테고리를 선택해주세요(과일,채소) : 과일
등록할 과일를 입력해주세요 : 바나나
['당근', '호박', '오이', '파', '바나나']
['사과', '오렌지', '바나나']

In [30]:
for i in 'Orange':
    print(i,end="")

Orange

In [31]:
a = {"name":"tom","math":80,"english":70}

In [35]:
for i in a :
    print(i,end=" ")
    print(a[i])

name tom
math 80
english 70

In [36]:
for i in range(0,5):
    print("***************************************",i)
    for j in range(0,5):
        print("j : ",j)

*************************************** 0
j :  0
j :  1
j :  2
j :  3
j :  4
*************************************** 1
j :  0
j :  1
j :  2
j :  3
j :  4
*************************************** 2
j :  0
j :  1
j :  2
j :  3
j :  4
*************************************** 3
j :  0
j :  1
j :  2
j :  3
j :  4
*************************************** 4
j :  0
j :  1
j :  2
j :  3
j :  4

In [37]:
x = [3,6,9,20,-7,5]

In [40]:
for i in range(len(x)) :
    x[i] = x[i]*10
    print(x[i])

30
60
90
20000
-70
50

In [41]:
y = {"math":70,"science":80,"english":20}

In [44]:
for key,value in y.items():
    print(key, value+10)

math 80
science 90
english 30

In [47]:
dan = int(input("몇 단을 출력하시겠습니까?"))
for i in range(1,10):
    print("{}*{}={}".format(dan,i,dan*i))

몇 단을 출력하시겠습니까?3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

In [48]:
words = ["school","game","piano","science","hotel","mountain"]

In [54]:
new = []
for word in range(len(words)):
    a=words[word]
    if len(a)>=6:
        print(a)
new.append(a)

school
science
mountain

In [55]:
new

['mountain']

In [56]:
for i in range(1,10):
    for j in range(1,10):
        print("{}*{}={}".format(i,j,i*j))

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [59]:
for i in range(1,101):
    if i%3==0 and i%5==0:
        print("3과 5의 공배수")
    elif i%5==0:
        print("5의 배수")
    elif i%3==0:
        print("3의 배수")
    else :
        print(i)

1
2
3의 배수
4
5의 배수
3의 배수
7
8
3의 배수
5의 배수
11
3의 배수
13
14
3과 5의 공배수
16
17
3의 배수
19
5의 배수
3의 배수
22
23
3의 배수
5의 배수
26
3의 배수
28
29
3과 5의 공배수
31
32
3의 배수
34
5의 배수
3의 배수
37
38
3의 배수
5의 배수
41
3의 배수
43
44
3과 5의 공배수
46
47
3의 배수
49
5의 배수
3의 배수
52
53
3의 배수
5의 배수
56
3의 배수
58
59
3과 5의 공배수
61
62
3의 배수
64
5의 배수
3의 배수
67
68
3의 배수
5의 배수
71
3의 배수
73
74
3과 5의 공배수
76
77
3의 배수
79
5의 배수
3의 배수
82
83
3의 배수
5의 배수
86
3의 배수
88
89
3과 5의 공배수
91
92
3의 배수
94
5의 배수
3의 배수
97
98
3의 배수
5의 배수

In [60]:
count = int(input("반복횟수?"))
i = 0
while i <count:
    print("입력한 횟수만큼 반복")
    i +=1

반복횟수?5
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복
입력한 횟수만큼 반복

In [62]:
i = 0
while i !=5:
    i = int(input("5를 입력하며너 반복이 중단됩니다."))
print("중단!")

5를 입력하며너 반복이 중단됩니다.3
5를 입력하며너 반복이 중단됩니다.4
5를 입력하며너 반복이 중단됩니다.5
중단!

In [64]:
i = -1
summ = 0
while i !=0:
    i = int(input("값을 입력 : "))
    summ = i + summ
print("합계는 ? {}".format(summ))

값을 입력 : 30
값을 입력 : 40
값을 입력 : 20
값을 입력 : 30
값을 입력 : 0
합계는 ? 120

In [65]:
import random

In [68]:
win = 0
total = 0

In [69]:
while i ==1 or i ==2 or i ==3 :
    user = int(input("가위(1),바위(2),보(3)을 입력해주세요 : "))
    computer = random.randint(1,3)
    if user ==1 and computer ==3 :
        win +=1
    elif user ==2 and computer ==1:
        win +=1
    elif user ==3 and computer ==2:
        win +=1
    else:
        total +=1
print("게임종료(전체 : {}, 승리 : {})".format(total,win))

게임종료(전체 : 0, 승리 : 0)