In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv('department_data_hoho(cp949) (1).csv',encoding="cp949")

In [3]:
df1

,Unnamed: 0,custid,date_time,store,product,brand,corner,pc,part,imported,amount,discount,installment,gender,지점,지점명,평균기온(°C),일강수량(mm),time,week
0,0,0,2000-06-25 12:12,무역점,2.116050e+12,에스티로더,수입종합화장품,화장품,명품잡화,1,90000,9000,3,1,108,서울,25.1,0.0,12:12,Sunday
1,1,0,2000-06-25 12:42,무역점,4.125440e+12,시슬리,수입종합화장품,화장품,명품잡화,1,39000,3900,1,1,108,서울,25.1,0.0,12:42,Sunday
2,2,0,2000-08-26 18:10,본점,2.116050e+12,크리니크,수입종합화장품,화장품,잡화파트,1,175000,17500,3,1,108,서울,22.1,89.3,18:10,Saturday
3,3,0,2000-08-26 18:30,본점,4.106430e+12,듀퐁,수입의류,명품토탈,잡화파트,1,455000,45500,3,1,108,서울,22.1,89.3,18:30,Saturday
4,4,0,2000-09-03 18:02,무역점,2.139140e+12,랑콤,수입종합화장품,화장품,명품잡화,0,100000,10000,3,1,108,서울,25.1,9.5,18:02,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,30359,2001-02-07 19:20,신촌점,2.700000e+12,식품,용기보증,미확인pc,생식품,0,24727,0,1,1,108,서울,-2.6,0.0,19:20,Wednesday
1048571,1048571,30359,2001-03-07 15:53,신촌점,4.413860e+12,폴로보이즈,아동,아동,아동문화,0,39000,1950,1,1,108,서울,-1.6,0.0,15:53,Wednesday
1048572,1048572,30360,2000-05-04 14:10,무역점,4.405620e+12,지오다노,진캐쥬얼,진캐쥬얼,골프/유니캐쥬얼,0,19800,0,1,1,108,서울,18.0,0.0,14:10,Thursday
1048573,1048573,30360,2000-05-04 14:42,무역점,4.406260e+12,엘르뿌뽕,신생아,아동,"아동,스포츠",0,39900,3990,1,1,108,서울,18.0,0.0,14:42,Thursday
1048574,1048574,30360,2000-05-06 18:12,무역점,4.103610e+12,키사,여성구두,여성구두,명품잡화,0,148000,14800,3,1,108,서울,15.5,1.8,18:12,Saturday

In [4]:
from datetime import datetime, timedelta
from pandas import DataFrame
from time import localtime,strftime

In [6]:
df1['date_time'] = pd.to_datetime(df1['date_time'],format = '%Y-%m-%d %H:%M:%S',errors='raise')

In [7]:
df1['date_time']= df1['date_time'].astype('str')
df1['date_time']=pd.to_datetime(df1['date_time'])
df1['date'] = df1['date_time'].dt.strftime('%Y-%m-%d')

In [8]:
#df1['new_time'] = df1['date_time'].dt.time
df1['month'] = df1['date_time'].dt.month
df1['day'] = df1['date_time'].dt.day

In [9]:
df1

,Unnamed: 0,custid,date_time,store,product,brand,corner,pc,part,imported,...,gender,지점,지점명,평균기온(°C),일강수량(mm),time,week,date,month,day
0,0,0,2000-06-25 12:12:00,무역점,2.116050e+12,에스티로더,수입종합화장품,화장품,명품잡화,1,...,1,108,서울,25.1,0.0,12:12,Sunday,2000-06-25,6,25
1,1,0,2000-06-25 12:42:00,무역점,4.125440e+12,시슬리,수입종합화장품,화장품,명품잡화,1,...,1,108,서울,25.1,0.0,12:42,Sunday,2000-06-25,6,25
2,2,0,2000-08-26 18:10:00,본점,2.116050e+12,크리니크,수입종합화장품,화장품,잡화파트,1,...,1,108,서울,22.1,89.3,18:10,Saturday,2000-08-26,8,26
3,3,0,2000-08-26 18:30:00,본점,4.106430e+12,듀퐁,수입의류,명품토탈,잡화파트,1,...,1,108,서울,22.1,89.3,18:30,Saturday,2000-08-26,8,26
4,4,0,2000-09-03 18:02:00,무역점,2.139140e+12,랑콤,수입종합화장품,화장품,명품잡화,0,...,1,108,서울,25.1,9.5,18:02,Sunday,2000-09-03,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,30359,2001-02-07 19:20:00,신촌점,2.700000e+12,식품,용기보증,미확인pc,생식품,0,...,1,108,서울,-2.6,0.0,19:20,Wednesday,2001-02-07,2,7
1048571,1048571,30359,2001-03-07 15:53:00,신촌점,4.413860e+12,폴로보이즈,아동,아동,아동문화,0,...,1,108,서울,-1.6,0.0,15:53,Wednesday,2001-03-07,3,7
1048572,1048572,30360,2000-05-04 14:10:00,무역점,4.405620e+12,지오다노,진캐쥬얼,진캐쥬얼,골프/유니캐쥬얼,0,...,1,108,서울,18.0,0.0,14:10,Thursday,2000-05-04,5,4
1048573,1048573,30360,2000-05-04 14:42:00,무역점,4.406260e+12,엘르뿌뽕,신생아,아동,"아동,스포츠",0,...,1,108,서울,18.0,0.0,14:42,Thursday,2000-05-04,5,4
1048574,1048574,30360,2000-05-06 18:12:00,무역점,4.103610e+12,키사,여성구두,여성구두,명품잡화,0,...,1,108,서울,15.5,1.8,18:12,Saturday,2000-05-06,5,6

In [ ]:
#df1=df1.drop(['Unnamed: 0'],axis=1)

In [10]:
def event_day(y,x):
#     if x == 14 and y == 1 :
#         return 'Diary Day'
#     else :
#         return ' '
#     for i in range(1,13):
#         a = ['month']==i
#         print(a)
    if y == 1 and x == 14:
        return 'Diary Day'
    elif y ==2 and x==14:
        return 'Valentine Day'
    elif y ==3 and x==14:
        return 'White Day'
    elif y ==4 and x==14:
        return 'Black Day'
    elif y==5 and x==14:
        return 'Rose Day'
    elif y==6 and x==14:
        return 'Kiss Day'
    elif y==7 and x==14:
        return 'Sliver Day'
    elif y==8 and x==14:
        return 'Green Day'
    elif y==9 and x==14:
        return 'Photo Day'
    elif y==10 and x==14:
        return 'Wine Day'
    elif y==11 and x==14:
        return 'Movie Day'
    elif y==12 and x==14:
        return 'Hug Day'
    else :
        return ' '

In [12]:
df1['holiday'] = df1.apply(lambda df1: event_day(df1['month'],df1['day']),axis=1)

In [29]:
#df1['holiday'] = df1['day'].apply(event_day)
index_n1 = df1[df1['holiday']==' '].index
data_set1= df1.drop(index_n1)

In [32]:
a = data_set1.groupby(data_set1['holiday']).sum()

In [33]:
a

,Unnamed: 0,custid,product,imported,amount,discount,installment,gender,지점,평균기온(°C),일강수량(mm),month,day
holiday,,,,,,,,,,,,,
Black Day,3631241053,104305707,2.701073e+16,921,657196216,18602470,13334,2227,742068,62526.1,29545.3,27484,96194
Diary Day,2931912678,84219874,2.207764e+16,727,706903099,15131050,11201,2073,608148,-86154.3,0.0,5631,78834
Green Day,915179840,26287786,6.682572e+15,253,157565806,5408910,2985,646,190836,49652.7,0.0,14136,24738
Hug Day,1164514943,33452614,8.276937e+15,262,203265421,7837070,3822,773,235440,7630.0,1526.0,26160,30520
Kiss Day,1442501736,41431136,1.069731e+16,346,209147710,7660720,4800,993,293760,66368.0,0.0,16320,38080
Movie Day,1343629701,38599382,9.840058e+15,291,222042551,8676780,4549,909,276372,22519.2,0.0,28149,35826
Rose Day,2167678918,62281758,1.627011e+16,692,374657290,15730050,7405,1570,437940,75017.5,0.0,20275,56770
Sliver Day,1937568613,55657267,1.486303e+16,464,302371709,6700770,6835,1421,405540,99883.0,0.0,26285,52570
Valentine Day,1605747000,46118800,1.151457e+16,475,251964740,9457270,5434,1001,327240,-10908.0,0.0,6060,42420
White Day,1262421977,36271104,9.086946e+15,297,239729764,9512410,4157,807,256068,18968.0,2371.0,7113,33194
Wine Day,2709685858,77828077,2.091470e+16,678,572133377,20227200,10192,1785,568080,61016.0,0.0,52600,73640

In [18]:
import matplotlib.pyplot as plt
import numpy as np

In [25]:
holiday_sum = df1.groupby(df1['holiday']).sum()

In [28]:
holiday_sum.index

Index([' ', 'Black Day', 'Diary Day', 'Green Day', 'Hug Day', 'Kiss Day',
       'Movie Day', 'Rose Day', 'Sliver Day', 'Valentine Day', 'White Day',
       'Wine Day'],
      dtype='object', name='holiday')

In [26]:
holiday_sum1=holiday_sum['amount']

In [ ]:
x = holiday_sum.index
 = ['2017', '2018', '2019']
amount = [100, 400, 900]

plt.bar(x, values)
plt.xticks(x, ['holiday'])
plt.show()

,Unnamed: 0,custid,date_time,store,product,brand,corner,pc,part,imported,...,지점,지점명,평균기온(°C),일강수량(mm),time,week,date,month,day,holiday
15,15,1,2000-05-14 10:40:00,본점,4.120500e+12,겐조수입의류,수입부띠끄,로얄부띠끄,로얄부띠끄,1,...,108,서울,18.5,0.0,10:40,Sunday,2000-05-14,5,14,Rose Day
89,89,5,2000-07-14 13:00:00,본점,4.217070e+12,강숙희,국내부띠끄,로얄부띠끄,로얄부띠끄,0,...,108,서울,26.6,0.0,13:00,Friday,2000-07-14,7,14,Sliver Day
147,147,7,2000-06-14 17:20:00,신촌점,4.400210e+12,파코라반,미확인코너,아동,아동문화,0,...,108,서울,24.4,0.0,17:20,Wednesday,2000-06-14,6,14,Kiss Day
148,148,7,2000-06-14 17:30:00,신촌점,4.546680e+12,노스,문화,문화,아동문화,0,...,108,서울,24.4,0.0,17:30,Wednesday,2000-06-14,6,14,Kiss Day
164,164,7,2000-10-14 15:00:00,신촌점,2.700000e+12,식품,야채,농산물,공산품,0,...,108,서울,11.6,0.0,15:00,Saturday,2000-10-14,10,14,Wine Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048514,1048514,30356,2000-08-14 16:23:00,천호점,2.116050e+12,에스티로더,수입종합화장품,화장품,잡화,1,...,108,서울,28.1,0.0,16:23,Monday,2000-08-14,8,14,Green Day
1048515,1048515,30356,2000-08-14 16:43:00,천호점,2.116050e+12,에스티로더,수입종합화장품,화장품,잡화,1,...,108,서울,28.1,0.0,16:43,Monday,2000-08-14,8,14,Green Day
1048516,1048516,30356,2000-08-14 16:50:00,천호점,2.116050e+12,에스티로더,수입종합화장품,화장품,잡화,1,...,108,서울,28.1,0.0,16:50,Monday,2000-08-14,8,14,Green Day
1048517,1048517,30356,2000-08-14 17:03:00,천호점,4.405620e+12,지오다노,영캐쥬얼,영트랜디,영라이브,0,...,108,서울,28.1,0.0,17:03,Monday,2000-08-14,8,14,Green Day
1048518,1048518,30356,2000-08-14 17:53:00,천호점,4.203820e+12,쁘렝땅,엘레강스,엘레강스캐쥬얼,여성캐쥬얼,0,...,108,서울,28.1,0.0,17:53,Monday,2000-08-14,8,14,Green Day