In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, timedelta
from pandas import DataFrame
from time import localtime,strftime

In [2]:
df1 = pd.read_csv('department_data_hoho(cp949) (1).csv',encoding="cp949")
# department_data_hoho(cp949) (1).csv 파일을 cp949(글자읽어내는 것)로 읽어낸다.

In [3]:
df1['date_time'] = pd.to_datetime(df1['date_time'],format = '%Y-%m-%d %H:%M:%S',errors='raise')
# to_datetime : 문자열(object)타입을 datetime(일자시간) 타입으로 바꾼다.
# errors=raise : 날짜 포맷에 문제가 있을 때 예외발생

In [4]:
#df1['date_time']= df1['date_time'].astype('str')
# astype(dtype) : 모든 열의 데이터 타입을 dtype으로 변경 >> 여기서는 str(문자형태)로 변경

#df1['date_time']=pd.to_datetime(df1['date_time'])
# 문자타입을 시간타입으로 변경

df1['date'] = df1['date_time'].dt.strftime('%Y-%m-%d')
# 시간을 연,월,일 형태로 변경

In [5]:
#df1['new_time'] = df1['date'] = df1['date_time'].dt.strftime('%H:%M')
# 연,월,일, 시,분,초 형태에서 시간이랑 분만 가져오기 
df1['month'] = df1['date_time'].dt.month
# 월만 가져오기
df1['day'] = df1['date_time'].dt.day
# 일만 가져오기

df1

,Unnamed: 0,custid,date_time,store,product,brand,corner,pc,part,imported,...,gender,지점,지점명,평균기온(°C),일강수량(mm),time,week,date,month,day
0,0,0,2000-06-25 12:12:00,무역점,2.116050e+12,에스티로더,수입종합화장품,화장품,명품잡화,1,...,1,108,서울,25.1,0.0,12:12,Sunday,2000-06-25,6,25
1,1,0,2000-06-25 12:42:00,무역점,4.125440e+12,시슬리,수입종합화장품,화장품,명품잡화,1,...,1,108,서울,25.1,0.0,12:42,Sunday,2000-06-25,6,25
2,2,0,2000-08-26 18:10:00,본점,2.116050e+12,크리니크,수입종합화장품,화장품,잡화파트,1,...,1,108,서울,22.1,89.3,18:10,Saturday,2000-08-26,8,26
3,3,0,2000-08-26 18:30:00,본점,4.106430e+12,듀퐁,수입의류,명품토탈,잡화파트,1,...,1,108,서울,22.1,89.3,18:30,Saturday,2000-08-26,8,26
4,4,0,2000-09-03 18:02:00,무역점,2.139140e+12,랑콤,수입종합화장품,화장품,명품잡화,0,...,1,108,서울,25.1,9.5,18:02,Sunday,2000-09-03,9,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,30359,2001-02-07 19:20:00,신촌점,2.700000e+12,식품,용기보증,미확인pc,생식품,0,...,1,108,서울,-2.6,0.0,19:20,Wednesday,2001-02-07,2,7
1048571,1048571,30359,2001-03-07 15:53:00,신촌점,4.413860e+12,폴로보이즈,아동,아동,아동문화,0,...,1,108,서울,-1.6,0.0,15:53,Wednesday,2001-03-07,3,7
1048572,1048572,30360,2000-05-04 14:10:00,무역점,4.405620e+12,지오다노,진캐쥬얼,진캐쥬얼,골프/유니캐쥬얼,0,...,1,108,서울,18.0,0.0,14:10,Thursday,2000-05-04,5,4
1048573,1048573,30360,2000-05-04 14:42:00,무역점,4.406260e+12,엘르뿌뽕,신생아,아동,"아동,스포츠",0,...,1,108,서울,18.0,0.0,14:42,Thursday,2000-05-04,5,4
1048574,1048574,30360,2000-05-06 18:12:00,무역점,4.103610e+12,키사,여성구두,여성구두,명품잡화,0,...,1,108,서울,15.5,1.8,18:12,Saturday,2000-05-06,5,6

In [6]:
# 1-12월 ~day 함수 만들기
def event_day(y,x):
#     if x == 14 and y == 1 :
#         return 'Diary Day'
#     else :
#         return ' '
#     for i in range(1,13):
#         a = ['month']==i
#         print(a)
    if y == 1 and x == 14:
        return '1 Diary Day'
    elif y ==2 and x==14:
        return '2 Valentine Day'
    elif y ==3 and x==14:
        return '3 White Day'
    elif y ==4 and x==14:
        return '4 Black Day'
    elif y==5 and x==14:
        return '5 Rose Day'
    elif y==6 and x==14:
        return '6 Kiss Day'
    elif y==7 and x==14:
        return '7 Sliver Day'
    elif y==8 and x==14:
        return '8 Green Day'
    elif y==9 and x==14:
        return '9 Photo Day'
    elif y==10 and x==14:
        return '10 Wine Day'
    elif y==11 and x==14:
        return '11 Movie Day'
    elif y==12 and x==14:
        return '12 Hug Day'
    else :
        return ' '

In [7]:
# holiday라는 컬럼 만들기 >> lambda함수를 이용해서
# df1에 람다식 붙이기
# event_day(y,x)값 집어넣는 함수인데 df1['month'] = y, df1['day'] =x 가 된다. 
#
df1['fourteenth_day'] = df1.apply(lambda df1: event_day(df1['month'],df1['day']),axis=1)
#df1['holiday'] = df1.apply(event_day(df1['month'],df1['day']),axis=1)
df1

,Unnamed: 0,custid,date_time,store,product,brand,corner,pc,part,imported,...,지점,지점명,평균기온(°C),일강수량(mm),time,week,date,month,day,fourteenth_day
0,0,0,2000-06-25 12:12:00,무역점,2.116050e+12,에스티로더,수입종합화장품,화장품,명품잡화,1,...,108,서울,25.1,0.0,12:12,Sunday,2000-06-25,6,25,
1,1,0,2000-06-25 12:42:00,무역점,4.125440e+12,시슬리,수입종합화장품,화장품,명품잡화,1,...,108,서울,25.1,0.0,12:42,Sunday,2000-06-25,6,25,
2,2,0,2000-08-26 18:10:00,본점,2.116050e+12,크리니크,수입종합화장품,화장품,잡화파트,1,...,108,서울,22.1,89.3,18:10,Saturday,2000-08-26,8,26,
3,3,0,2000-08-26 18:30:00,본점,4.106430e+12,듀퐁,수입의류,명품토탈,잡화파트,1,...,108,서울,22.1,89.3,18:30,Saturday,2000-08-26,8,26,
4,4,0,2000-09-03 18:02:00,무역점,2.139140e+12,랑콤,수입종합화장품,화장품,명품잡화,0,...,108,서울,25.1,9.5,18:02,Sunday,2000-09-03,9,3,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,30359,2001-02-07 19:20:00,신촌점,2.700000e+12,식품,용기보증,미확인pc,생식품,0,...,108,서울,-2.6,0.0,19:20,Wednesday,2001-02-07,2,7,
1048571,1048571,30359,2001-03-07 15:53:00,신촌점,4.413860e+12,폴로보이즈,아동,아동,아동문화,0,...,108,서울,-1.6,0.0,15:53,Wednesday,2001-03-07,3,7,
1048572,1048572,30360,2000-05-04 14:10:00,무역점,4.405620e+12,지오다노,진캐쥬얼,진캐쥬얼,골프/유니캐쥬얼,0,...,108,서울,18.0,0.0,14:10,Thursday,2000-05-04,5,4,
1048573,1048573,30360,2000-05-04 14:42:00,무역점,4.406260e+12,엘르뿌뽕,신생아,아동,"아동,스포츠",0,...,108,서울,18.0,0.0,14:42,Thursday,2000-05-04,5,4,
1048574,1048574,30360,2000-05-06 18:12:00,무역점,4.103610e+12,키사,여성구두,여성구두,명품잡화,0,...,108,서울,15.5,1.8,18:12,Saturday,2000-05-06,5,6,

In [8]:
#df1['holiday'] = df1['day'].apply(event_day)

# df1의 fourteen 컬럼이 빈값인 df1의 인덱스
index_14 = df1[df1['fourteenth_day']==' '].index

#df1의 index_14 삭제하기 >> df1_14에 저장
df1_14= df1.drop(index_14)

df1_14

,Unnamed: 0,custid,date_time,store,product,brand,corner,pc,part,imported,...,지점,지점명,평균기온(°C),일강수량(mm),time,week,date,month,day,fourteenth_day
15,15,1,2000-05-14 10:40:00,본점,4.120500e+12,겐조수입의류,수입부띠끄,로얄부띠끄,로얄부띠끄,1,...,108,서울,18.5,0.0,10:40,Sunday,2000-05-14,5,14,5 Rose Day
89,89,5,2000-07-14 13:00:00,본점,4.217070e+12,강숙희,국내부띠끄,로얄부띠끄,로얄부띠끄,0,...,108,서울,26.6,0.0,13:00,Friday,2000-07-14,7,14,7 Sliver Day
147,147,7,2000-06-14 17:20:00,신촌점,4.400210e+12,파코라반,미확인코너,아동,아동문화,0,...,108,서울,24.4,0.0,17:20,Wednesday,2000-06-14,6,14,6 Kiss Day
148,148,7,2000-06-14 17:30:00,신촌점,4.546680e+12,노스,문화,문화,아동문화,0,...,108,서울,24.4,0.0,17:30,Wednesday,2000-06-14,6,14,6 Kiss Day
164,164,7,2000-10-14 15:00:00,신촌점,2.700000e+12,식품,야채,농산물,공산품,0,...,108,서울,11.6,0.0,15:00,Saturday,2000-10-14,10,14,10 Wine Day
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048514,1048514,30356,2000-08-14 16:23:00,천호점,2.116050e+12,에스티로더,수입종합화장품,화장품,잡화,1,...,108,서울,28.1,0.0,16:23,Monday,2000-08-14,8,14,8 Green Day
1048515,1048515,30356,2000-08-14 16:43:00,천호점,2.116050e+12,에스티로더,수입종합화장품,화장품,잡화,1,...,108,서울,28.1,0.0,16:43,Monday,2000-08-14,8,14,8 Green Day
1048516,1048516,30356,2000-08-14 16:50:00,천호점,2.116050e+12,에스티로더,수입종합화장품,화장품,잡화,1,...,108,서울,28.1,0.0,16:50,Monday,2000-08-14,8,14,8 Green Day
1048517,1048517,30356,2000-08-14 17:03:00,천호점,4.405620e+12,지오다노,영캐쥬얼,영트랜디,영라이브,0,...,108,서울,28.1,0.0,17:03,Monday,2000-08-14,8,14,8 Green Day
1048518,1048518,30356,2000-08-14 17:53:00,천호점,4.203820e+12,쁘렝땅,엘레강스,엘레강스캐쥬얼,여성캐쥬얼,0,...,108,서울,28.1,0.0,17:53,Monday,2000-08-14,8,14,8 Green Day

In [9]:
# df1_14의 fourteen 컬럼으로 그룹화를 하면서 month 값으로 묶음?
#fourteenth_day_sum = df1_14.groupby(df1_14['fourteenth_day'])['month'].sum()

# 14day 그룹화하기( df1_14의 fourteen_day를 기준으로 각 컬럼들 합계 보여주기)
fourteenth_day_group = df1_14.groupby(df1_14['fourteenth_day']).sum()

In [10]:
fourteenth_day_group

,Unnamed: 0,custid,product,imported,amount,discount,installment,gender,지점,평균기온(°C),일강수량(mm),month,day
fourteenth_day,,,,,,,,,,,,,
1 Diary Day,2931912678,84219874,2.207764e+16,727,706903099,15131050,11201,2073,608148,-86154.3,0.0,5631,78834
10 Wine Day,2709685858,77828077,2.091470e+16,678,572133377,20227200,10192,1785,568080,61016.0,0.0,52600,73640
11 Movie Day,1343629701,38599382,9.840058e+15,291,222042551,8676780,4549,909,276372,22519.2,0.0,28149,35826
12 Hug Day,1164514943,33452614,8.276937e+15,262,203265421,7837070,3822,773,235440,7630.0,1526.0,26160,30520
2 Valentine Day,1605747000,46118800,1.151457e+16,475,251964740,9457270,5434,1001,327240,-10908.0,0.0,6060,42420
3 White Day,1262421977,36271104,9.086946e+15,297,239729764,9512410,4157,807,256068,18968.0,2371.0,7113,33194
4 Black Day,3631241053,104305707,2.701073e+16,921,657196216,18602470,13334,2227,742068,62526.1,29545.3,27484,96194
5 Rose Day,2167678918,62281758,1.627011e+16,692,374657290,15730050,7405,1570,437940,75017.5,0.0,20275,56770
6 Kiss Day,1442501736,41431136,1.069731e+16,346,209147710,7660720,4800,993,293760,66368.0,0.0,16320,38080
7 Sliver Day,1937568613,55657267,1.486303e+16,464,302371709,6700770,6835,1421,405540,99883.0,0.0,26285,52570
8 Green Day,915179840,26287786,6.682572e+15,253,157565806,5408910,2985,646,190836,49652.7,0.0,14136,24738

In [11]:
fourteenth_day_group.index

Index(['1 Diary Day', '10 Wine Day', '11 Movie Day', '12 Hug Day',
       '2 Valentine Day', '3 White Day', '4 Black Day', '5 Rose Day',
       '6 Kiss Day', '7 Sliver Day', '8 Green Day'],
      dtype='object', name='fourteenth_day')

In [12]:
# fourteen_day_sum 에서 amount 컬럼 가져오기 (판매금액만 보고 싶은 것)
fourteenth_day_amount=fourteenth_day_group['amount']

### 14day's 매출액

In [ ]:
x = fourteenth_day_group.index
y = fourteenth_day_amount
plt.rc('font', family='Malgun Gothic', size=12)                                 
plt.bar(x,y)
plt.xticks(x) #띄움
plt.xlabel("14days")
plt.ylabel("판매량")
plt.title("14day's 매출액")

plt.show()

In [ ]:
plt.barh(x,y)
plt.ylabel("14days")
plt.xlabel("판매량")
plt.title("14day's 매출액")
plt.show()

### 14day's 매출액 비율

In [ ]:
labels = fourteenth_day_group.index
ratio = fourteenth_day_group['amount']

plt.pie(fourteenth_day_group['amount'],labels=fourteenth_day_group.index,autopct='%.1f%%',
        startangle = 90, counterclock=False, pctdistance=0.7, labeldistance=1.05)
#title ="14day's 매출액 비율"
#plt.title(title, size=40)
plt.show()

In [ ]:
# fig = plt.figure(figsize=(15,15))
# plt.rc('font', family='Malgun Gothic', size=20)

# # labels=amount['part']
# #labels = holiday_sum1
# colors = sns.color_palette('hls',len(labels))
# patches, texts, autotexts = plt.pie(amount['amount'],
#                                     labels=fourteenth_day_group,
#                                     startangle=90, #시작지점
#                                     counterclock=False, #시계방향으로 순서
#                                     autopct='%.2f%%', #pi위에 나타내는 형식
#                                     colors = colors,
#                                     pctdistance=0.7, #pi위에 글씨 나타나는 위치
#                                     labeldistance=1.05 #lable pi 거리
#                                     #rotatelabels=True
                                    
# #레이블 글씨 수정
# # for t in texts:
# #     t.set_color("white")
# #     t.set_fontsize(20)
# # for t in autotexts:
# #     t.set_color("white")
# #     t.set_fontsize(20)
# # title = '이벤트별 판매비율'
# # plt.title(title, size=40)
# plt.show()

In [ ]:
df1

In [ ]:
# df1에서 brand를 기준으로 그룹화하여 총합계를 각각 보여주기
df1.groupby('brand').sum()

In [ ]:
# brand로 그룹화하고 amount컬럼의 합계 중 상위 10개만 보여주기
a = df1.groupby('brand')['amount'].sum().nlargest(10)
a

In [ ]:
a[1:]

### 브랜드 상위 10 판매량

In [ ]:
x = a.index
y = a[0:]
plt.barh(x,y)
plt.ylabel("top10 브랜드")
plt.xlabel("판매량")
plt.title("상위 브랜드 판매량")
# plt.show()
# plt.bar(x, y)
# plt.xticks(x) #띄움
plt.show()

In [ ]:
# pc컬럼 중에 값이 '화장품'인 것만 부르기
cosmetic = df1[df1['pc']=='화장품']
cosmetic

In [ ]:
new_cos =cosmetic.groupby('brand')['amount'].sum().nlargest(10)

In [ ]:
new_cos

### 화장품 상위 10 판매량

In [ ]:
x = new_cos.index
y = new_cos[0:]

# plt.bar(x, y)
# plt.xticks(x) #띄움
# plt.show()
plt.barh(x,y)
plt.ylabel("top10 화장품")
plt.xlabel("판매량")
plt.title("상위 화장품 판매량")
plt.show()

In [ ]:
# df1['월,일'] = df1['date_time'].dt.strftime('%m-%d')
# df1

In [13]:
def holiday(x):
    if df1['date'] == '2000-05-05':
        return 'holiday'
    elif df1['date'] == '2000-05-11':
        return 'holiday'
    elif df1['date'] == '2000-06-06':
        return 'holiday'
    elif df1['date'] == '2000-07-17':
        return 'holiday'
    elif df1['date'] == '2000-08-15':
        return 'holiday'
    elif df1['date'] == '2000-09-11':
        return 'holiday'
    elif df1['date'] == '2000-09-12':
        return 'holiday'
    elif df1['date'] == '2000-09-13':
        return 'holiday'
    elif df1['date'] == '2000-10-03':
        return 'holiday'
    elif df1['date'] == '2000-12-25':
        return 'holiday'
    elif df1['date'] == '2001-01-01':
        return 'holiday'
    elif df1['date'] == '2001-01-23':
        return 'holiday'
    elif df1['date'] == '2001-01-24':
        return 'holiday'
    elif df1['date'] == '2001-01-25':
        return 'holiday'
    elif df1['date'] == '2001-03-01':
        return 'holiday'
    elif df1['date'] == '2001-04-05':
        return 'holiday'
    elif df1['date'] == '2001-05-01':
        return 'holiday'
    elif df1['date'] == '2001-05-05':
        return 'holiday'
    else :
        return ' '

In [15]:
df1['holiday'] = df1.apply(lambda s : holiday(s['date_time']),axis=1)
df1['fourteenth_day'] = df1.apply(lambda df1: event_day(df1['month'],df1['day']),axis=1)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
# 2000 휴일 : 5/5,5/11,6/6,7/17,8/15,9/11,9/12,9/13,10/3,12/25
# 2001 휴일 : 1/1,1/23,1/24,1/25,3/1,4/5,5/1,5/5
df1['holiday'] = df1.apply